In [1]:
import pandas as pd

In [59]:
import math

In [93]:
column_names=['timestamp','order_id','action','ticker','side','price','size']
df=pd.DataFrame(columns=column_names)
df

Empty DataFrame
Columns: [timestamp, order_id, action, ticker, side, price, size]
Index: []

In [94]:
def processOrder(orderbook, order): #this function doens't keep all orders, it changes the 'add' to 'update'/ 'cancel'
    # if it's necessary to keep all orders a simple change in the code would solve this problem
    x=order.split('|')
    if x[2]=='a':
        orderbook.loc[len(df)]=x 
    elif x[2]=='u': #assuming there is already an 'add' order for this order_id and that price doesn't change
        orderbook.loc[(orderbook.order_id == x[1]),'timestamp']=x[0]
        orderbook.loc[(orderbook.order_id == x[1]),'action']=x[2]
        orderbook.loc[(orderbook.order_id == x[1]),'size']=x[3]
    else : # assuming there is already and 'add' or 'update' order for this order_id (an if statement would solve this issue)
        
        orderbook.loc[(orderbook.order_id == x[1]),'timestamp']=x[0]
        orderbook.loc[(orderbook.order_id == x[1]),'action']=x[2]
    return orderbook

In [95]:
def getBestBidAndAsk(orderbook,ticker):
    if orderbook[orderbook.ticker==ticker].shape[0]==0:
        bestbid=0
        bestask=0
        
    else: #this code also gets the bid/ask price from canceled orders
          # if this is a problem, a simple solution would be
          # bestbid=float(orderbook[.... & (order[action]!='c')].price.max())
          # bestask=float(orderbook[.... & (order[action]!='c')].price.min())
        
        bestbid=float(orderbook[(orderbook['ticker']==ticker) & (orderbook['side']=='B')].price.max())
        bestask=float(orderbook[(orderbook['ticker']==ticker) & (orderbook['side']=='S')].price.min())
    if math.isnan(bestbid):
        bestbid=0
    if math.isnan(bestask):
        bestask=0
    return bestbid,bestask

In [96]:
data1='1568390243|abbb11|a|AAPL|B|209.00000|100'
processOrder(df,data1)

    timestamp order_id action ticker side      price size
0  1568390243   abbb11      a   AAPL    B  209.00000  100

In [97]:
data2='1568390244|abbb11|u|101'
processOrder(df,data2)

    timestamp order_id action ticker side      price size
0  1568390244   abbb11      u   AAPL    B  209.00000  101

In [98]:
data3='1568390204|abbb11|c'
processOrder(df,data3)

    timestamp order_id action ticker side      price size
0  1568390204   abbb11      c   AAPL    B  209.00000  101

In [99]:
data4='1568390202|abbb12|a|AAPL|S|210.00000|10'
processOrder(df,data4)

    timestamp order_id action ticker side      price size
0  1568390204   abbb11      c   AAPL    B  209.00000  101
1  1568390202   abbb12      a   AAPL    S  210.00000   10

In [100]:
data5='1568390203|abbb12|u|101'
processOrder(df,data5)

    timestamp order_id action ticker side      price size
0  1568390204   abbb11      c   AAPL    B  209.00000  101
1  1568390203   abbb12      u   AAPL    S  210.00000  101

In [101]:
getBestBidAndAsk(df,'AAPL')

(209.0, 210.0)

In [102]:
data6='1568390202|abbb13|a|AAPL|S|209.50000|10'
processOrder(df,data6)

    timestamp order_id action ticker side      price size
0  1568390204   abbb11      c   AAPL    B  209.00000  101
1  1568390203   abbb12      u   AAPL    S  210.00000  101
2  1568390202   abbb13      a   AAPL    S  209.50000   10

In [103]:
getBestBidAndAsk(df,'AAPL')

(209.0, 209.5)

In [104]:
data7='1568390202|abbb14|a|AAPL|B|209.20000|10'
processOrder(df,data7)

    timestamp order_id action ticker side      price size
0  1568390204   abbb11      c   AAPL    B  209.00000  101
1  1568390203   abbb12      u   AAPL    S  210.00000  101
2  1568390202   abbb13      a   AAPL    S  209.50000   10
3  1568390202   abbb14      a   AAPL    B  209.20000   10

In [105]:
getBestBidAndAsk(df,'AAPL')

(209.2, 209.5)

In [106]:
data='1568390300|msft1|a|MSFT|B|200.0000|10'
processOrder(df,data)

    timestamp order_id action ticker side      price size
0  1568390204   abbb11      c   AAPL    B  209.00000  101
1  1568390203   abbb12      u   AAPL    S  210.00000  101
2  1568390202   abbb13      a   AAPL    S  209.50000   10
3  1568390202   abbb14      a   AAPL    B  209.20000   10
4  1568390300    msft1      a   MSFT    B   200.0000   10

In [107]:
getBestBidAndAsk(df,'MSFT')

(200.0, 0)

In [108]:
getBestBidAndAsk(df,'SHOP')

(0, 0)